<div id="providers" class="page-layout simple left-sidenav inner-sidenav">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">

        <!-- APP TITLE -->
        <div layout="row" layout-align="start center">
            <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="vm.list.toggleSidenav('sidenav')"
                       aria-label="Toggle sidenav">
                <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
            </md-button>

            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="{{vm.page.icon}}" class="s24"></md-icon>
                </span>
                <span class="logo-text">{{vm.page.title}}</span>
            </div>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-input-wrapper" layout="row" layout-align="start center">
            <label for="search">
                <md-icon md-font-icon="icon-magnify"></md-icon>
            </label>
            <md-input-container md-no-float class="m-0">
                <input id="search" placeholder="Search" type="text" ng-model="vm.search">
            </md-input-container>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- SELECTED BAR -->
    <div ng-show="vm.list.selectedItems.length > 0" class="selected-bar header animate-slide-down md-accent-bg"
         layout="row" layout-align="start center">

        <div class="close-button-wrapper" ng-click="vm.list.selectedItems =[]">
            <md-button layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-arrow-left" class="mr-8"></md-icon>
                <span>Back</span>
            </md-button>
        </div>

        <div flex layout="row" layout-align="space-between center">

            <div>
                <span class="selected-items-count">
                    <span>{{vm.list.selectedItems.length}}</span>
                    <span>selected</span>
                </span>

                <md-menu class="select-menu" ng-if="!vm.currentThread">
                    <md-button class="md-icon-button"
                               ng-click="$mdOpenMenu($event)"
                               aria-label="multi select toggle">
                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="vm.list.selectAllItems()">
                                Select all
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.list.deselectItems()">
                                Select none
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div class="multi-select-actions">
                <md-button class="md-icon-button" ng-click="vm.list.deleteSelectedItems($event)"
                           aria-label="delete selected">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                </md-button>
            </div>

        </div>

    </div>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">

        <!-- MAIN -->
        <div class="main scrollable" ms-scroll>

            <!-- LIST -->
            <md-list class="list-view">

                <!-- LIST HEADER -->
                <md-subheader class="md-no-sticky md-white-bg">

                    <div layout="row" layout-align="space-between center">

                        <div class="list-title" layout="row" layout-align="start center"
                             ng-hide="editGroupForm.$visible">
                            <span ng-if="vm.list.listType === 'all'">All {{vm.list.itemType}}</span>
                            <span ng-if="vm.list.listType.name">{{vm.list.listType.name}}</span>

                            <span ng-if="filteredItems.length" class="secondary-text list-items-count">
                                ({{filteredItems.length}})
                            </span>
                        </div>

                        <div class="edit-group-form" ng-show="vm.list.listType.name" layout="row"
                             layout-align="start center">
                            <span ng-show="editGroupForm.$visible"
                                  editable-text="vm.list.listType.name"
                                  e-form="editGroupForm"
                                  onaftersave="vm.list.editGroup()">
                            </span>

                            <md-button class="md-icon-button edit-group-button" ng-click="editGroupForm.$show()"
                                       ng-hide="editGroupForm.$visible" aria-label="edit group name">
                                <md-icon md-font-icon="icon-pencil s18"></md-icon>
                            </md-button>

                            <md-button class="md-icon-button edit-group-button" ng-click="vm.list.deleteGroup($event)"
                                       ng-hide="editGroupForm.$visible" aria-label="delete group">
                                <md-icon md-font-icon="icon-delete s18"></md-icon>
                            </md-button>
                        </div>

                        <div flex></div>

                        <md-menu>

                            <md-button class="md-icon-button" aria-label="Sort">
                                <md-icon md-font-icon="icon-sort-alphabetical"
                                         ng-click="$mdOpenMenu($event)"></md-icon>
                            </md-button>

                            <md-menu-content width="3">

                                <md-menu-item>
                                    <md-button ng-click="vm.list.listOrder = 'name';vm.list.listOrderAsc = false"
                                               ng-style="vm.list.listOrder === 'name' && vm.list.listOrderAsc=== false && {'font-weight':'500'}">
                                        <span>First Name</span>
                                        <small>(A to Z)</small>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.list.listOrder = 'name'; vm.list.listOrderAsc = true"
                                               ng-style="vm.list.listOrder === 'name' && vm.list.listOrderAsc=== true && {'font-weight':'500'}">
                                        <span>First Name</span>
                                        <small>(Z to A)</small>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.list.listOrder = 'lastName';vm.list.listOrderAsc = false"
                                               ng-style="vm.list.listOrder === 'lastName' && vm.list.listOrderAsc=== false && {'font-weight':'500'}">
                                        <span>Last Name</span>
                                        <small>(A to Z)</small>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.list.listOrder = 'lastName'; vm.list.listOrderAsc = true"
                                               ng-style="vm.list.listOrder === 'lastName' && vm.list.listOrderAsc=== true && {'font-weight':'500'}">
                                        <span>Last Name</span>
                                        <small>(Z to A)</small>
                                    </md-button>
                                </md-menu-item>

                            </md-menu-content>

                        </md-menu>

                    </div>

                </md-subheader>
                <!-- / LIST HEADER -->

                <!-- ITEM -->
                <md-list-item class="list-item md-white-bg" md-ink-ripple
                              ng-repeat="item in vm.list.items | filter: vm.search | filter: global.search | filterByIds:vm.list.filterIds |  orderBy: vm.list.listOrder :vm.list.listOrderAsc | filter:query as filteredItems track by item.id "
                              ng-click="vm.list.viewItemDialog($event, item)"
                              ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredItems.length - $index}"
                              ng-class="{'selected': vm.list.isSelected(item)}">


                    <md-checkbox
                            ng-checked="vm.list.exists(item, vm.list.selectedItems)"
                            ng-click="vm.list.toggleSelectItem(item, $event)"
                            aria-label="{{vm.list.exists(item, vm.list.selectedItems) ? 'Deselect' : 'Select'}}">
                    </md-checkbox>

                    <img class="md-avatar" ng-if="item.avatar" alt="{{item.name}}"
                         ng-src="{{item.avatar}}"/>

                    <p class="text-truncate font-weight-600">{{item.name}} {{item.lastName}}</p>


                    <p class="email hide show-gt-sm" flex>{{item.email}}</p>

                    <p class="phone text-truncate hide show-gt-md" flex>
                        {{item.phone}}
                    </p>

                    <p class="job-title text-truncate hide show-gt-md" flex>
                        {{item.jobTitle}}
                    </p>

                    <p class="company text-truncate hide show-gt-lg" flex>
                        {{item.company}}
                    </p>

                    <div class="actions" layout="row" layout-align="start center">
                        <md-button class="md-icon-button  hide show-gt-xs"
                                   ng-click="$event.stopPropagation();vm.list.toggleInArray(item.id, vm.user.starred)"
                                   aria-label="Toggle starred">
                            <md-icon ng-if="vm.list.exists(item.id,vm.user.starred)" md-font-icon="icon-star"
                                     class="amber-fg"></md-icon>
                            <md-icon ng-if="!vm.list.exists(item.id,vm.user.starred)"
                                     md-font-icon="icon-star-outline"></md-icon>
                        </md-button>

                        <md-menu>
                            <md-button class="md-icon-button" aria-label="More">
                                <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.list.deleteItemConfirm(item, ev)">
                                        Delete {{vm.list.itemType}}
                                    </md-button>
                                </md-menu-item>

                                <md-divider ng-if="vm.list.groups"></md-divider>

                                <md-subheader class="md-no-sticky" ng-if="vm.list.groups">Groups</md-subheader>

                                <md-list-item ng-if="vm.list.groups" ng-repeat="group in vm.list.groups"
                                              ng-click="vm.list.toggleInArray(item.id,group.itemIds)">
                                    <p class="pl-8"
                                       ng-style="vm.list.exists(item.id,group.itemIds) && {'font-weight':'500'}">
                                        {{group.name}}
                                    </p>
                                </md-list-item>

                            </md-menu-content>
                        </md-menu>

                    </div>

                </md-list-item>
                <!-- USER ITEM -->

            </md-list>
            <!-- / LIST -->

            <!-- NO RESULTS -->
            <md-list-item class="no-results md-white-bg" ng-show="filteredItems.length === 0">
                <p>No results..</p>
            </md-list-item>
            <!-- / NO RESULTS -->

        </div>
        <!-- / MAIN -->

    </div>
    <!-- / CONTENT -->

    <!-- ADD BUTTON -->
    <md-button class="md-fab md-accent md-icon-button" id="add-button" ng-click="vm.list.viewItemDialog($event)"
               aria-label="Add {{vm.list.itemType}}">
        <md-icon md-font-icon="icon-account-plus"></md-icon>
    </md-button>
    <!-- / ADD ITEM BUTTON -->

</div>