<md-dialog class="view-chart" aria-label="{{vm.chart.title}}">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.chart.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div id="widgets">
                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>


                        <!-- WIDGET 1 -->
                        <ms-widget flippable="false" layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="p-16 white-bg">
                                <div>
                                    <nvd3 class="h-320"
                                          class="remove-x-lines"
                                          options="vm.widget1.chart.options"
                                          data="vm.widget1.chart.data"></nvd3>
                                </div>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                    </div>
                </div>
            </div>

        </md-dialog-content>
    </form>
</md-dialog>
