<div id="clusters" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-grid"></md-icon>
                    <span translate="CLUSTERS.TITLE">Clusters</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="servers-search" class="search-input" type="text" placeholder="Search"
                       translate translate-attr-placeholder="CLUSTERS.SEARCH" flex>
            </div>

            <div>
                <md-button class="md-raised md-background" ng-click="vm.refreshData()">
                    <span>Refresh</span>
                </md-button>
                <md-button class="md-raised md-background" ng-click="vm.createCluster()">
                    <span>Create</span>
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <span class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover compact" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                    <tr>
                        <th ng-repeat="col in vm.table.columns"
                            class="secondary-text">
                            <div ng-if="col.title">
                                <div class="table-header">
                                    <span class="column-title">{{col.title}}</span>
                                </div>
                            </div>
                            <div ng-if="!col.title">
                                <span class="column-title">&nbsp;</span>
                            </div>
                        </th>
                        <!--
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Name</span>
                            </div>
                        </th>-->
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Actions</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in ::vm.servers">
                        <td ng-repeat="col in vm.table.columns">{{row[col.name]}}</td>
                        <!-- Actions Column -->
                        <td>
                            <md-button class="edit-button md-icon-button" ng-click="vm.gotoServerDetail(row.id)"
                                       aria-label="Server Details"
                                       translate translate-attr-aria-label="CLUSTERS.SERVER_DETAILS">
                                <md-icon md-font-icon="icon-dots-horizontal" class="s16"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

</div>
<!-- / CENTER -->

</div>
