<div id="home" class="page-layout blank" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- CONTENT -->
        <div class="content">

            <!-- WIDGET GROUP -->
            <div class="widget-group" layout="row" flex="100" layout-wrap>

                <!-- WIDGET 1 -->
                <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
                            <md-select class="simplified font-size-16" ng-model="vm.widget1.currentRange"
                                       aria-label="Change range">
                                <md-option ng-repeat="(key, range) in vm.widget1.ranges"
                                           value="{{key}}">
                                    {{range}}
                                </md-option>
                            </md-select>

                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                           aria-label="more">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                            Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                            Refresh
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                        <div class="pt-8 pb-32" layout="column" layout-align="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{vm.widget1.data.count[vm.widget1.currentRange]}}%
                            </div>
                            <div class="h3 secondary-text font-weight-500">{{vm.widget1.data.label}}</div>
                        </div>

                        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                            <span class="h4 secondary-text text-truncate">{{vm.widget1.data.extra.label}}:</span>
                            <span class="h4 ml-8">{{vm.widget1.data.extra.count[vm.widget1.currentRange]}}</span>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->

                    <!-- Back -->
                    <ms-widget-back class="p-16 white-bg">
                        <div class="flip-to-front">
                            <md-button class="md-icon-button" ng-click="flipWidget()"
                                       aria-label="Flip widget">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>

                        <div>
                            {{vm.widget1.detail}}
                        </div>
                    </ms-widget-back>
                    <!-- / Back -->

                </ms-widget>
                <!-- / WIDGET 1 -->

                <!-- WIDGET 2 -->
                <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                            <div class="h3">{{vm.widget2.title}}</div>

                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                           aria-label="more">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>

                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                            Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                            Refresh
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                        <div class="pt-8 pb-32" layout="column" layout-align="center center">
                            <div class="red-fg font-size-72 line-height-72">
                                {{vm.widget2.data.count}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">{{vm.widget2.data.label}}</div>
                        </div>

                        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                            <span class="h4 secondary-text text-truncate">{{vm.widget2.data.extra.label}}:</span>
                            <span class="h4 ml-8">{{vm.widget2.data.extra.count}}</span>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->

                    <!-- Back -->
                    <ms-widget-back class="p-16 white-bg">
                        <div class="flip-to-front">
                            <md-button class="md-icon-button" ng-click="flipWidget()"
                                       aria-label="Flip widget">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>

                        <div>
                            {{vm.widget2.detail}}
                        </div>
                    </ms-widget-back>
                    <!-- / Back -->

                </ms-widget>
                <!-- / WIDGET 2 -->

                <!-- WIDGET 3 -->
                <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                            <div class="h3">{{vm.widget3.title}}</div>

                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                           aria-label="more">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>

                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                            Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                            Refresh
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                        <div class="pt-8 pb-32" layout="column" layout-align="center center">
                            <div class="orange-fg font-size-72 line-height-72">
                                {{vm.widget3.data.count}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">{{vm.widget3.data.label}}</div>
                        </div>

                        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                            <span class="h4 secondary-text text-truncate">{{vm.widget3.data.extra.label}}:</span>
                            <span class="h4 ml-8">{{vm.widget3.data.extra.count}}</span>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->

                    <!-- Back -->
                    <ms-widget-back class="p-16 white-bg">
                        <div class="flip-to-front">
                            <md-button class="md-icon-button" ng-click="flipWidget()"
                                       aria-label="Flip widget">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>

                        <div>
                            {{vm.widget3.detail}}
                        </div>
                    </ms-widget-back>
                    <!-- / Back -->

                </ms-widget>
                <!-- / WIDGET 3 -->

                <!-- WIDGET 4 -->
                <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                            <div class="h3">{{vm.widget4.title}}</div>

                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                           aria-label="more">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>

                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                            Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                            Refresh
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                        <div class="pt-8 pb-32" layout="column" layout-align="center center">
                            <div class="blue-grey-fg font-size-72 line-height-72">
                                {{vm.widget4.data.count}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">{{vm.widget4.data.label}}</div>
                        </div>

                        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                            <span class="h4 secondary-text text-truncate">{{vm.widget4.data.extra.label}}:</span>
                            <span class="h4 ml-8">{{vm.widget4.data.extra.count}}</span>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->

                    <!-- Back -->
                    <ms-widget-back class="p-16 white-bg">
                        <div class="flip-to-front">
                            <md-button class="md-icon-button" ng-click="flipWidget()"
                                       aria-label="Flip widget">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>

                        <div>
                            {{vm.widget4.detail}}
                        </div>
                    </ms-widget-back>
                    <!-- / Back -->

                </ms-widget>
                <!-- / WIDGET 4 -->

            </div>
            <!-- / WIDGET GROUP -->

            <!-- WIDGET GROUP -->
            <div class="widget-group" layout="row" flex="100" layout-wrap>

                <!-- WIDGET 5 -->
                <ms-widget layout="row" flex="100">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                             layout-wrap>
                            <div class="pv-8 h3">{{vm.widget5.title}}</div>

                            <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                 flex-sm="100">
                                <md-button class="ph-16"
                                           ng-repeat="(key, range) in vm.widget5.ranges"
                                           ng-click="vm.widget5.changeRange(key)"
                                           ng-disabled="vm.widget5.currentRange == key">
                                    {{range}}
                                </md-button>
                            </div>
                        </div>

                        <div class="p-16">
                            <nvd3 class="h-420 remove-x-lines"
                                  config="vm.widget5.mainChart.config"
                                  options="vm.widget5.mainChart.options"
                                  data="vm.widget5.mainChart.data"></nvd3>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>
                <!-- / WIDGET 5 -->

            </div>
            <!-- / WIDGET GROUP -->


            <!-- WIDGET GROUP -->
            <div class="widget-group" layout="row" flex="100" layout-wrap>

                <!-- WIDGET 6 -->
                <ms-widget layout="column" flex="100" flex-gt-sm="50">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">

                        <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                            <div class="h3">{{vm.widget6.title}}</div>
                            <div class="pv-16">
                                <md-select class="simplified" ng-model="vm.widget6.currentRange"
                                           ng-change="vm.widget6.changeRange(vm.widget6.currentRange)"
                                           aria-label="Change range">
                                    <md-option ng-repeat="(key, range) in vm.widget6.ranges"
                                               value="{{key}}">
                                        {{range}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>

                        <div class="p-16">
                            <nvd3 class="h-400"
                                  config="vm.widget6.mainChart.config"
                                  options="vm.widget6.mainChart.options"
                                  data="vm.widget6.mainChart.data"></nvd3>
                        </div>

                        <div class="pv-8 mh-16 border-top" layout="row" layout-align="start center" layout-wrap>
                            <div class="pv-8 border-right" layout="column" layout-align="center center"
                                 flex="100" flex-gt-xs="50">
                                <span class="font-size-32">{{vm.widget6.footerLeft.count[vm.widget6.currentRange]}}</span>
                                <span class="h4">{{vm.widget6.footerLeft.title}}</span>
                            </div>

                            <div class="pv-8" layout="column" layout-align="center center" flex="100"
                                 flex-gt-xs="50">
                                <span class="font-size-32">{{vm.widget6.footerRight.count[vm.widget6.currentRange]}}</span>
                                <span class="h4">{{vm.widget6.footerRight.title}}</span>
                            </div>
                        </div>

                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>
                <!-- / WIDGET 6 -->

                <!-- WIDGET 7 -->
                <ms-widget layout="column" flex="100" flex-gt-sm="50">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">

                        <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                            <div class="h3">{{vm.widget7.title}}</div>

                            <div class="pv-16">
                                <md-select class="simplified" ng-model="vm.widget7.currentRange"
                                           aria-label="Change range">
                                    <md-option ng-repeat="(key, range) in vm.widget7.ranges"
                                               value="{{key}}">
                                        {{range}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>

                        <div class="p-16" layout="row" layout-align="space-between center"
                             ng-repeat="customer in vm.widget7.customers[vm.widget7.currentRange]">
                            <div>
                                <div class="h3">{{customer.name}}</div>
                                <span ng-if="customer.location">{{customer.location}}</span>
                            </div>

                            <md-button class="md-icon-button" aria-label="More information">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                        </div>

                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>
                <!-- / WIDGET 7 -->

            </div>
            <!-- / WIDGET GROUP -->

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
