<div class="md-inline-form">

    <input type="hidden" name="provider" ng-model="vm.form.type" required="true" />

    <!-- Provider Cards -->
    <div layout="row" layout-align="start none" layout-wrap>
        <span ng-repeat="provider in vm.providers">
            <md-card
                    ng-class="{ 'selected': $index == vm.selectedIndex}"
                    ng-click="vm.providerClicked($event, $index, provider)"
                    layout="column"
                    layout-align="center center">

                <img ng-src="{{provider.card.image.src}}" alt="{{provider.card.image.alt}}" class="md-card-image">
                <md-card-actions layout="column" layout-align="start">
                    <md-button >{{$index === vm.selectedIndex ? 'SELECTED' : 'SELECT'}}</md-button>
                </md-card-actions>
            </md-card>
        </span>
    </div>
</div>