<div class="md-inline-form">

    <md-input-container
            class="md-block"
            ng-repeat="input in vm.selectedProvider.config">
        <label>{{input.title}}</label>
        <input type="text" name="{{input.name}}"
               ng-model="vm.form.config[input.name]"
               ng-required="input.required"/>
    </md-input-container>
</div>