<div class="md-inline-form">

    <div class="form-wrapper form-data-wrapper md-whiteframe-1dp" flex="40" ng-if="!vm.creating">
        <div class="json-data-wrapper">
            <pre>{{vm.form | json}}</pre>
        </div>
    </div>
    <!--<div layout="column">-->
        <!--<div class="statusMessage">Creating server...</div>-->
        <!--<md-progress-linear md-mode="indeterminate"></md-progress-linear>-->
    <!--</div>-->
</div>