<div class="md-inline-form">

    <md-input-container class="md-block">
        <label>Name</label>
        <input type="text"
               ng-model="vm.form.name"
               ng-required="true"/>
    </md-input-container>
    <md-input-container class="md-block">
    <label>Description</label>
    <input type="text"
           ng-model="vm.form.description"
           ng-required="false"/>
    </md-input-container>
</div>