<div class="md-inline-form">

    <input type="hidden" name="provider" ng-model="vm.form.type" required="true" />

    <!-- Provider Cards -->
    <div layout="row" layout-align="start none" layout-wrap>
        <span ng-repeat="os in vm.selectedProvider.os">
            <md-card
                    ng-class="{ 'selected': $index == vm.selectedOSIndex}"
                    ng-click="vm.osClicked($event, $index, os)"
                    layout="column"
                    layout-align="center center">
                <img class="md-card-image" ng-src="{{os.image.src}}" alt="{{os.image.alt}}">
                <md-card-actions layout="column" layout-align="start">
                    <md-button >{{os.title}}</md-button>
                </md-card-actions>
            </md-card>
        </span>
    </div>
</div>