<div class="md-inline-form">

    <input type="hidden" name="provider" ng-model="vm.form.type" required="true"/>

    <!-- Provider Cards -->
    <div layout="row" layout-align="start none" layout-wrap>
        <span ng-repeat="region in vm.selectedProvider.regions">
            <md-card
                    ng-class="{ 'selected': $index == vm.selectedRegionIndex}"
                    ng-click="vm.regionClicked($event, $index, region)"
                    layout="column"
                    layout-align="center center">
                <img class="md-card-image" ng-src="{{region.image.src}}" alt="{{provider.image.alt}}">
                <md-card-actions layout="column" layout-align="start">
                    <md-button>{{region.title}}</md-button>
                </md-card-actions>
            </md-card>
        </span>
    </div>
</div>