<div id="server-details" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Back to Servers"
                       ng-click="vm.gotoServers()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <span class="h2">
                        {{vm.server.name}}
                    </span>
                    <div class="subtitle secondary-text">
                        <span>{{vm.server.id}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.installPackage()">
                <span>INSTALL</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>OVERVIEW</span>
                </md-tab-label>

                <md-tab-body>
                    <div ng-include="'app/main/servers/server-view/tabs/overview.html'"/>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span>APPS</span>
                </md-tab-label>

                <md-tab-body>
                    <div ng-include="'app/main/servers/server-view/tabs/apps.html'"/>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</div>