/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

md-toast.md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

md-toast.md-info-toast-theme .md-toast-content {
    color: #00529B;
    background-color: #BDE5F8;
}

md-toast.md-success-toast-theme .md-toast-content {
    color: #4F8A10;
    background-color: #DFF2BF;
}

md-toast.md-warn-toast-theme .md-toast-content {
    color: #9F6000;
    background-color: #FEEFB3;
}

md-toast.md-error-toast-theme .md-toast-content {
    color: #D8000C;
    background-color: #FFBABA;
}
