<md-content class="content-container" flex layout-padding>

    <div class="pb-16" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-apps" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text">Apps</div>
    </div>

    <table class="simple" ms-responsive-table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Installed On</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="app in vm.apps">
            <td>
                <div layout="row" layout-align="start center">
                    <span class="name text-nowrap">{{app.name}}</span>
                </div>
            </td>
            <td>
                <span>{{app.installedOn | date : 'short'}}</span>
            </td>
            <td>
                <span>{{app.version}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</md-content>