<md-content class="content-container" flex layout-padding>

    <div class="pb-16" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-server" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text">System</div>
    </div>

    <table class="simple" ms-responsive-table>
        <thead>
        <tr>
            <th>Name</th>
            <th>IPAddress</th>
            <th>Hostname</th>
            <th>Provider</th>
            <th>Size</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div layout="row" layout-align="start center">
                    <span class="name text-nowrap">{{vm.server.name}}</span>
                </div>
            </td>
            <td>
                <span>{{vm.server.ipAddress}}</span>
            </td>
            <td>
                <span>{{vm.stats.system.hostname}}</span>
            </td>
            <td>
                <span>{{vm.server.provider.type}}</span>
            </td>
            <td>
                <span>{{vm.server.instance.size}}</span>
            </td>
            <td>
                <span>{{vm.server.status}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</md-content>

<md-content class="content-container" flex layout-padding>
    <div class="pb-16" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-memory" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text">Memory</div>
    </div>

    <table class="simple" ms-responsive-table>
        <thead>
        <tr>
            <th>Total</th>
            <th>Free</th>
            <th>Buffer</th>
            <th>Swap</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div layout="row" layout-align="start center">
                    <span class="name text-nowrap">{{vm.Bytes(vm.stats.memory.total)}}</span>
                </div>
            </td>
            <td>
                <span class="email">{{vm.Bytes(vm.stats.memory.free)}}</span>
            </td>
            <td>
                <span class="phone">{{vm.Bytes(vm.stats.memory.buffcache)}}</span>
            </td>
            <td>
                <span class="phone">{{vm.Bytes(vm.stats.memory.swaptotal)}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</md-content>

<md-content class="content-container" flex layout-padding>
    <div class="pb-16" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-cube-outline" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text">OS</div>
    </div>

    <table class="simple" ms-responsive-table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Dist</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div layout="row" layout-align="start center">
                    <span class="name text-nowrap">{{vm.server.os.title}}</span>
                </div>
            </td>
            <td>
                <span class="email">{{vm.server.os.type}}</span>
            </td>
            <td>
                <span class="phone">{{vm.server.os.dist}}</span>
            </td>
            <td>
                <span class="phone">{{vm.server.os.version}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</md-content>


<md-content class="content-container" flex layout-padding>

    <div class="pb-16" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-harddisk" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text">File System</div>
    </div>

    <table class="simple" ms-responsive-table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Physical</th>
            <th>Size</th>
            <th>Type</th>
            <th>FS</th>
            <th>Mount</th>
            <th>UUID</th>
            <th>Label</th>
            <th>Removable</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="disk in vm.stats.fs.devices">
            <td>
                <div layout="row" layout-align="start center">
                    <span class="name text-nowrap">{{disk.name}}</span>
                </div>
            </td>
            <td>
                <span>{{disk.physical}}</span>
            </td>
            <td>
                <span>{{vm.Bytes(disk.size)}}</span>
            </td>
            <td>
                <span>{{disk.type}}</span>
            </td>
            <td>
                <span>{{disk.fstype}}</span>
            </td>
            <td>
                <span>{{disk.mount}}</span>
            </td>
            <td>
                <span>{{disk.uuid}}</span>
            </td>
            <td>
                <span>{{disk.label}}</span>
            </td>
            <td>
                <span>{{disk.removable}}</span>
            </td>
        </tr>
        </tbody>
    </table>

</md-content>

<md-content class="content-container" flex layout-padding>

    <div class="pb-16" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-server-network" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text">Network</div>
    </div>

    <table class="simple" ms-responsive-table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Family</th>
            <th>MAC</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(name, iface) in vm.stats.network.interfaces">
            <td>
                <div layout="row" layout-align="start center">
                    <span class="name text-nowrap">{{name}}</span>
                </div>
            </td>
            <td>
                <span>{{iface[0].address}}</span>
            </td>
            <td>
                <span>{{iface[0].family}}</span>
            </td>
            <td>
                <span>{{iface[0].mac}}</span>
            </td>
        </tr>
        </tbody>
    </table>

</md-content>