<md-button class="ms-tasks-navigation-item"
           ng-class="{'current': MsTasks.isStepCurrent(stepInfo.stepNumber), 'valid': MsTasks.isStepValid(stepInfo.stepNumber), 'disabled': MsTasks.isStepDisabled(stepInfo.stepNumber), 'optional': MsTasks.isStepOptional(stepInfo.stepNumber)}"
           ng-click="MsTasks.gotoStep(stepInfo.stepNumber)"
           ng-disabled="MsTasks.isStepDisabled(stepInfo.stepNumber)"
           ng-hide="MsTasks.isStepHidden(stepInfo.stepNumber)"
           aria-label="Stepper navigation button"
           layout="row" layout-align="start center">

    <div class="step" layout="row" layout-align="center center">
        <span ng-if="!MsStepper.isStepValid(stepInfo.stepNumber) || MsStepper.isStepOptional(stepInfo.stepNumber)">
            <i class="icon icon-checkbox-blank-circle-outline s18 md-accent-fg"></i>
        </span>
        <span ng-if="MsStepper.isStepValid(stepInfo.stepNumber) && !MsStepper.isStepOptional(stepInfo.stepNumber)">
            <i class="icon icon-check-circle s18 md-accent-fg"></i>
        </span>
    </div>

    <div layout="column" layout-align="start start">
        <div class="title" ng-if="stepInfo.stepTitleTranslate">{{stepInfo.stepTitleTranslate | translate }}</div>
        <div class="title" ng-if="!stepInfo.stepTitleTranslate">{{stepInfo.stepTitle}}</div>
        <div class="subtitle" ng-if="MsStepper.isStepOptional(stepInfo.stepNumber)">Optional</div>
    </div>
</md-button>

<div class="ms-tasks-step-content">
    <span class="statusMessage">{{stepInfo.stepStatus}}</span>
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    <div ng-transclude></div>
</div>

<div class="ms-tasks-controls" layout="row" layout-align="start center"
     ng-show="MsTasks.isStepCurrent(stepInfo.stepNumber)">
    <div ng-if="MsTasks.showButtons">
        <md-button class="md-accent md-raised"
                   ng-disabled="MsTasks.isFirstStep()"
                   ng-click="MsTasks.gotoPreviousStep()">
            Back
        </md-button>

        <md-button class="md-accent md-raised"
                   ng-if="!MsTasks.isLastStep()"
                   ng-disabled="!MsTasks.isStepValid(MsTasks.currentStepNumber)"
                   ng-click="MsTasks.gotoNextStep()">
            Next
        </md-button>

        <md-button type="submit" class="md-accent md-raised"
                   ng-click="MsTasks.resetForm()"
                   ng-if="MsTasks.isLastStep()"
                   ng-disabled="!MsTasks.isFormValid()">
            Submit
        </md-button>
    </div>
</div>