<div id="servers-dashboard" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">
            <div class="white-fg" layout="row" layout-align="space-between">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-poll"></md-icon>
                    <span>Dashboard</span>
                </div>
            </div>

            <div layout="row">
                <div class="selected-project">{{vm.serverName || vm.selectedServer.name}}</div>

                <md-menu id="projects-menu" md-offset="0 48">
                    <md-button class="md-icon-button project-selector" ng-click="$mdOpenMenu()"
                               aria-label="Select project" md-menu-origin md-menu-align-target>
                        <md-icon md-font-icon="icon-dots-horizontal"></md-icon>
                    </md-button>

                    <md-menu-content width="3" class="md-background-bg">
                        <md-menu-item ng-repeat="server in vm.servers">
                            <md-button ng-click="vm.selectServer(server)" aria-label="{{server.name}}">
                                <span ng-class="{'secondary-text': vm.selectedServer == server}">{{server.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- / CONTENT -->
        <div>

            <!-- WIDGETS -->
            <div id="widgets">

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- STORAGE WIDGET -->
                    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                        <!-- Front -->
                        <ms-widget-front class="p-16 pink-400-bg white-fg">
                            <div class="pb-24" layout="row" layout-align="space-between center">
                                <div layout="row" layout-align="start center">
                                    <md-icon class="m-0 mr-8" md-font-icon="icon-harddisk"></md-icon>
                                    <div class="h3">{{vm.storage_widget.title}}</div>
                                </div>

                                <md-menu>
                                    <md-button aria-label="more" class="md-icon-button"
                                               ng-click="$mdOpenMenu($event)">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                Details
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                Refresh
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                            <div class="pb-24" layout="row" layout-align="start center">
                                <div class="h2">{{vm.storage_widget.value.used}}</div>
                                <div class="h2 secondary-text pl-8">/ {{vm.storage_widget.value.total}}</div>
                            </div>

                            <md-progress-linear md-mode="determinate"
                                                value="{{vm.storage_widget.value.percentage}}"></md-progress-linear>
                        </ms-widget-front>
                        <!-- / Front -->

                        <!-- Back -->
                        <ms-widget-back class="p-16 pr-32 pink-400-bg white-fg">
                            <div class="flip-to-front">
                                <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                                    <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                </md-button>
                            </div>

                            <div>
                                {{vm.storage_widget.detail}}
                            </div>
                        </ms-widget-back>
                        <!-- / Back -->

                    </ms-widget>
                    <!-- / STORAGE WIDGET -->

                    <!-- MEMORY CONSUMPTION -->
                    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                        <!-- Front -->
                        <ms-widget-front class="p-16 teal-400-bg white-fg">
                            <div class="pb-24" layout="row" layout-align="space-between center">
                                <div layout="row" layout-align="start center">
                                    <md-icon class="m-0 mr-8" md-font-icon="icon-memory"></md-icon>
                                    <div class="h3">{{vm.memory_widget.title}}</div>
                                </div>

                                <md-menu>
                                    <md-button aria-label="more" class="md-icon-button"
                                               ng-click="$mdOpenMenu($event)">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                Details
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                Refresh
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                            <div class="pb-24" layout="row" layout-align="start center">
                                <div class="h2">{{vm.Bytes(vm.memory_widget.value.used)}}</div>
                                <div class="h2 secondary-text pl-8">/ {{vm.Bytes(vm.memory_widget.value.total)}}</div>
                            </div>

                            <md-progress-linear md-mode="determinate"
                                                value="{{vm.memory_widget.value.percentage}}"></md-progress-linear>
                        </ms-widget-front>
                        <!-- / Front -->

                        <!-- Back -->
                        <ms-widget-back class="p-16 pr-32 teal-400-bg white-fg">
                            <div class="flip-to-front">
                                <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                                    <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                </md-button>
                            </div>

                            <div>
                                {{vm.widget4.detail}}
                            </div>
                        </ms-widget-back>
                        <!-- / Back -->

                    </ms-widget>
                    <!-- / MEMORY CONSUMPTION -->

                    <!-- NETWORK_RECEIVED -->
                    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                        <!-- Front -->
                        <ms-widget-front class="p-16 blue-bg white-fg">
                            <div class="pb-24" layout="row" layout-align="space-between center">
                                <div layout="row" layout-align="start center">
                                    <md-icon class="m-0 mr-8" md-font-icon="icon-server-network"></md-icon>
                                    <md-icon class="m-0 mr-8" md-font-icon="icon-chevron-double-down"></md-icon>

                                    <div class="h3">{{vm.network_received.title}}</div>
                                </div>

                                <md-menu>
                                    <md-button aria-label="more" class="md-icon-button"
                                               ng-click="$mdOpenMenu($event)">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                Details
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                Refresh
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                            <div class="pb-8" layout="row" layout-align="start end">
                                <div class="h2">{{vm.Bytes(vm.network_received.value.bytes)}}</div>
                                <div class="h2 pl-8 secondary-text">-
                                    {{vm.Bytes(vm.network_received.value.bytes_per_sec)}}/s
                                </div>
                            </div>

                            <!--<md-progress-linear md-mode="determinate"-->
                            <!--value="{{vm.network_received.value.percentage}}"></md-progress-linear>-->
                            <div class="chart-fill-16">
                                <nvd3 class="h-50 remove-opacity remove-line-stroke"
                                      config="vm.network_received.chart.config"
                                      options="vm.network_received.chart.options"
                                      data="vm.network_received.chart.data"></nvd3>
                            </div>
                        </ms-widget-front>
                        <!-- / Front -->

                        <!-- Back -->
                        <ms-widget-back class="p-16 pr-32 blue-bg white-fg">
                            <div class="flip-to-front">
                                <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                                    <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                </md-button>
                            </div>

                            <div>
                                {{vm.network_received.detail}}
                            </div>
                        </ms-widget-back>
                        <!-- / Back -->

                    </ms-widget>
                    <!-- / NETWORK RECEIVED -->

                    <!-- NETWORK_TRANSMITTED -->
                    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                        <!-- Front -->
                        <ms-widget-front class="p-16 indigo-bg white-fg">
                            <div class="pb-24" layout="row" layout-align="space-between center">
                                <div layout="row" layout-align="start center">
                                    <md-icon class="m-0 mr-8" md-font-icon="icon-server-network"></md-icon>
                                    <md-icon class="m-0 mr-8" md-font-icon="icon-chevron-double-up"></md-icon>
                                    <div class="h3">{{vm.network_transmitted.title}}</div>
                                </div>

                                <md-menu>
                                    <md-button aria-label="more" class="md-icon-button"
                                               ng-click="$mdOpenMenu($event)">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                Details
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                Refresh
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                            <div class="pb-8" layout="row" layout-align="start end">
                                <div class="h2">{{vm.Bytes(vm.network_transmitted.value.bytes)}}</div>
                                <div class="h2 pl-8 secondary-text">-
                                    {{vm.Bytes(vm.network_transmitted.value.bytes_per_sec)}}/s
                                </div>
                            </div>

                            <!--<md-progress-linear md-mode="determinate"-->
                            <!--value="{{vm.network_received.value.percentage}}"></md-progress-linear>-->
                            <div class="chart-fill-16">
                                <nvd3 class="h-50 remove-opacity remove-line-stroke"
                                      config="vm.network_transmitted.chart.config"
                                      options="vm.network_transmitted.chart.options"
                                      data="vm.network_transmitted.chart.data"></nvd3>
                            </div>
                        </ms-widget-front>
                        <!-- / Front -->

                        <!-- Back -->
                        <ms-widget-back class="p-16 pr-32 blue-bg white-fg">
                            <div class="flip-to-front">
                                <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                                    <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                </md-button>
                            </div>

                            <div>
                                {{vm.network_received.detail}}
                            </div>
                        </ms-widget-back>
                        <!-- / Back -->

                    </ms-widget>
                    <!-- / NETWORK TRANSMITTED -->
                </div>
                <!-- / WIDGET GROUP -->


                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 6 -->
                    <ms-widget flippable="false" layout="row" flex="100">

                        <!-- Front -->
                        <ms-widget-front class="p-16 white-bg">
                            <div class="pb-24" layout="row" layout-align="space-between center">
                                <div class="h3">{{vm.cpu_live.title}}</div>

                                <md-menu>
                                    <md-button aria-label="more" class="md-icon-button"
                                               ng-click="$mdOpenMenu($event)">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                Refresh
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                            <div>
                                <nvd3 class="h-140 remove-x-lines remove-opacity"
                                      config="vm.cpu_live.chart.config"
                                      options="vm.cpu_live.chart.options"
                                      data="vm.cpu_live.chart.data"></nvd3>
                            </div>

                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 6 -->

                </div>
                <!-- / WIDGET GROUP -->


                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- MEMORY_LIVE -->
                    <ms-widget flippable="false" layout="row" flex="100">

                        <!-- Front -->
                        <ms-widget-front class="p-16 white-bg">
                            <div class="pb-24" layout="row" layout-align="space-between center">
                                <div class="h3">{{vm.memory_live.title}}</div>

                                <md-menu>
                                    <md-button aria-label="more" class="md-icon-button"
                                               ng-click="$mdOpenMenu($event)">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                Refresh
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                            <div>
                                <nvd3 class="h-200 remove-x-lines remove-opacity"
                                      config="vm.memory_live.chart.config"
                                      options="vm.memory_live.chart.options"
                                      data="vm.memory_live.chart.data"></nvd3>
                            </div>

                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / MEMORY_LIVE -->

                </div>
                <!-- / WIDGET GROUP -->

                <!-- WIDGET GROUP -->
                <div class="widget-group" layout="row" flex="100" layout-wrap>

                    <!-- WIDGET 7 -->
                    <ms-widget flippable="false" layout="row" flex="100">

                        <!-- Front -->
                        <ms-widget-front class="white-bg">

                            <div class="ph-16 pv-24 border-bottom" layout="row" layout-align="space-between center">
                                <div layout="row" layout-align="start center">
                                    <span class="h3">{{vm.widget7.title}}</span>
                                    <span class="ml-16 text-boxed pink-bg white-fg">{{vm.widget7.table.rows.length}} processes</span>
                                </div>

                                <md-menu>
                                    <md-button aria-label="more" class="md-icon-button"
                                               ng-click="$mdOpenMenu($event)">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                Refresh
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                            <table class="dataTable row-border hover" datatable="ng"
                                   dt-options="vm.widget7.dtOptions">
                                <thead>
                                <tr>
                                    <th class="secondary-text"
                                        ng-repeat="column in ::vm.widget7.table.columns">
                                        <div class="table-header">
                                            <span class="column-title">{{column.title}}</span>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in ::vm.widget7.table.rows">
                                    <td ng-repeat="cell in row">
                                    <span class="{{cell.classes}}">
                                        {{cell.value}}
                                    </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </ms-widget-front>
                        <!-- / Front -->

                    </ms-widget>
                    <!-- / WIDGET 7 -->

                </div>
                <!-- / WIDGET GROUP -->

            </div>
        </div>
    </div>
</div>
