<div id="server-details" class="page-layout simple fullwidth" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Back to Servers"
                       ng-click="vm.gotoServers()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.server.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Server Details</span>
                    </div>
                </div>
            </div>
        </div>

        <div>

        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- WIDGET GROUP -->
        <div class="panel md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title">Status</div>
            </header>

            <div class="content" layout="row" layout-wrap>
                <div class="activities" flex>
                    <div ng-repeat="activity in vm.action.activities" flex>
                        <md-divider ng-if="$first"></md-divider>
                        <div class="activity" layout="row" layout-align="start center" flex>
                            <div class="step-number avatar">{{$index + 1}}</div>
                            <span class="step-title secondary-text" flex="initial">{{activity.title}}</span>

                            <div class="step-status" flex>
                                <div ng-if="activity.status == 'pending'">
                                    <span class="secondary-text pending-message">Waiting...</span>
                                </div>
                                <div ng-if="activity.status == 'running'" layout="column" >
                                    <span class="secondary-text running-message"> {{activity.message}}</span>
                                    <div class="progress-bar">
                                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                                    </div>
                                </div>
                            </div>

                            <span class="step-time secondary-text" ng-if="activity.status !== 'pending'">{{activity.started_on | date: "h:mm a"}}</span>
                        </div>
                        <md-divider></md-divider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>