#server-details {

  .terminaljs {
    background: #1f1f1f;
    color: white;
    font-family: Courier, monospace;
    font-size: 10pt;
    width: 100%;
    margin: 1em 0 0;
  }

  .header {
    height: 120px;
    min-height: 120px;
    max-height: 120px;

    .goto-products-button {
      margin-right: 16px;
    }

    .product-image {
      overflow: hidden;
      width: 56px;
      height: 56px;
      margin-right: 16px;
      border: 3px solid rgba(0, 0, 0, 0.12);

      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }

    .subtitle {
      margin: 6px 0 0 0;
    }
  }

  .product-detail-form-container {
    padding: 24px;

    .dataTable td {
      font-size: 14px;
    }

    #product-image-uploader {
      position: relative;

      &.dropping {

        .drop-text {
          display: flex;
        }
      }

      .drop-text {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 16px;
        text-align: center;
        border: 2px dashed rgba(0, 0, 0, 0.12);
        background: #FFFFFF;
        font-size: 20px;
        z-index: 100;
      }

      .upload-button {
        margin-bottom: 16px;
      }

      .image-zoom-area {
        border: 2px solid rgba(0, 0, 0, 0.12);
        width: 500px;
      }

      .product-image {
        position: relative;
        width: 100px;
        min-height: 100px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        margin: 8px;

        &.uploading {

          .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.87);
          }
        }

        .media {
          cursor: pointer;
          max-height: 100%;
        }
      }
    }
  }

  .panel {
    margin-bottom: 16px;

    header {
      padding: 16px;

      .title {
        font-size: 17px;
      }

      .more {
        cursor: pointer;
      }
    }

    .content {
      padding: 16px;
      background-color: #FFF;
    }

    footer {
      padding: 8px;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      background-color: rgba(0, 0, 0, 0.06);
    }

    .activities {

      .activity {

        padding: 1em;

        .step-number {
          display: block;
          background: material-color('light-blue', '600');
          width: 32px;
          min-width: 32px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 500;
          border-radius: 50px;
        }

        .step-title {
          width: 150px;
          font-size: 16px;
          font-weight: 500;
        }

        .step-status {
          padding-left: 1em;
          height: 32px;
          .progress-bar {
            max-width: 100%;
          }
        }

        .step-time {
          padding-left: 1em;
          font-size: 16px;
          height: 32px;
          line-height: 32px;
          text-align: end;
        }
      }
    }

    &.info-box {

      .info-line {
        margin-bottom: 24px;

        .title {
          font-size: 15px;
          font-weight: 500;
          padding-bottom: 4px;
        }

        .info {

        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
