<md-dialog aria-label="Create Cluster Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create Cluster</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg"
                         aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <!-- FORM WIZARD -->
        <ms-form-wizard flex>
            <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                <md-tab>
                    <md-tab-label>
                        <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep1.$invalid">1</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Details</span>
                            </span>
                    </md-tab-label>

                    <md-tab-body>
                        <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>

                            <md-input-container
                                    class="md-block">
                                <label>Name</label>
                                <input type="text" name="providerName"
                                       ng-model="vm.form.name"
                                       required/>
                            </md-input-container>

                            <md-input-container
                                    class="md-block">
                                <label>Description</label>
                                <textarea type="text" name="providerDescription"
                                          ng-model="vm.form.description"
                                ></textarea>
                            </md-input-container>
                        </form>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-disabled="wizardStep1.$invalid">
                    <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep2.$invalid">2</span>
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep2.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Provider</span>
                            </span>
                    </md-tab-label>

                    <md-tab-body>
                        <form name="wizardStep2" class="md-inline-form" ms-form-wizard-form novalidate>

                            <input type="hidden" name="provider" ng-model="vm.form.provider" required="true"/>

                            <!-- Provider Cards -->
                            <div layout="row" layout-align="center none" layout-wrap>
                                <span ng-repeat="provider in vm.providers">
                                    <md-card
                                            ng-class="{ 'selected': $index == vm.selectedIndex}"
                                            ng-click="vm.providerClicked($event, $index, provider)">
                                        <md-card-image>
                                            <img ng-src="{{provider.card.image.src}}" alt="{{provider.card.image.alt}}">
                                        </md-card-image>
                                        <md-card-actions layout="column" layout-align="start">
                                            <md-button>{{$index === vm.selectedIndex ? 'SELECTED' : 'SELECT'}}</md-button>
                                        </md-card-actions>
                                    </md-card>
                                </span>
                            </div>
                        </form>
                    </md-tab-body>
                </md-tab>

                <md-tab ng-disabled="wizardStep2.$invalid">
                    <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">2</span>
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Configure</span>
                            </span>
                    </md-tab-label>

                    <md-tab-body>
                        <form name="wizardStep3" ms-form-wizard-form novalidate>
                            <md-input-container
                                    class="md-block"
                                    ng-repeat="input in vm.selectedProvider.form">
                                <label>{{input.title}}</label>
                                <input type="text" name="{{input.name}}"
                                       ng-model="vm.form.config[input.name]"
                                       ng-required="input.required"/>
                            </md-input-container>
                        </form>
                    </md-tab-body>
                </md-tab>

                <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
                    <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">3</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Nodes</span>
                            </span>
                    </md-tab-label>
                    <md-tab-body>
                        <form name="wizardStep4" ms-form-wizard-form novalidate>
                            <md-input-container class="md-block">
                                <label>Size</label>
                                <input type="text" name="providerDescription"
                                       ng-model="vm.form.size"
                                       required
                                />
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Instances</label>
                                <input type="text" name="providerDescription"
                                       ng-model="vm.form.nodes"
                                       required/>
                            </md-input-container>
                        </form>
                    </md-tab-body>
                </md-tab>

                <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid">
                    <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">5</span>
                                <span class="ms-form-wizard-step-text">Deploy</span>
                            </span>
                    </md-tab-label>
                    <md-tab-body>
                        <form name="wizardStep5" ms-form-wizard-form novalidate>
                            <div layout="column" layout-gt-xs="row">
                                <div class="form-wrapper form-data-wrapper md-whiteframe-1dp" flex="40">
                                    <div class="json-data-wrapper">
                                        <pre>{{vm.form | json}}</pre>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </md-tab-body>
                </md-tab>
            </md-tabs>

            <div class="navigation" flex layout="row" layout-align="center center">
                <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                           ng-disabled="msWizard.isFirstStep()">
                    Previous
                </md-button>
                <div class="steps">
                        <span ng-repeat="form in msWizard.forms"
                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
                </div>
                <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                           ng-hide="msWizard.isLastStep()"
                           ng-disabled="msWizard.currentStepInvalid()">
                    Next
                </md-button>
                <md-button class="md-raised md-warn" ng-click="vm.saveForm();"
                           ng-show="msWizard.isLastStep()"
                           ng-disabled="msWizard.formsIncomplete()">
                    Save
                </md-button>
            </div>

        </ms-form-wizard>
    </md-dialog-content>
    <!-- / FORM WIZARD -->
</md-dialog>
