<md-dialog class="view-report" aria-label="{{vm.report.title}}">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.report.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                Reports Content Goes Here
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
