md-dialog {

    &.view-report {

        md-toolbar {
            //height: 240px;
            //min-height: 240px;
            //max-height: 240px;

            .title {
                font-size: 17px;
            }

        }

        md-dialog-content {
            //display: block;
            //position: relative;
                background: none;
                padding: 0;
        }

        md-dialog-actions {
            //position: relative;
        }
    }
}
