#server-details {

  md-card {

    margin: 1em;
    width: 17rem;

    md-card-content {

    }

    .md-card-image {

      align: center;
      width: 13rem;
      height: 10rem;

      padding-top: 20px;
      padding-right: 4px;
      padding-left: 4px;
      padding-bottom: 20px;
    }

    &.selected {
      background-color: #FBC02D;
      //background-color:#2196F3;

      md-card-actions {

        .md-button {
          background-color: rgba(158, 158, 158, 0.2);
          color: currentColor;
        }
      }
    }

    md-card-actions {
      .md-button {
        color: rgba(0, 0, 0, 0.26);

        &:hover {
          color: currentColor;
        }
      }
    }
  }

  .terminaljs {
    background: #1f1f1f;
    color: white;
    font-family: Courier, monospace;
    font-size: 10pt;
    width: 100%;
    margin: 1em 0 0;
  }

  .header {
    height: 120px;
    min-height: 120px;
    max-height: 120px;

    .goto-products-button {
      margin-right: 16px;
    }

    .product-image {
      overflow: hidden;
      width: 56px;
      height: 56px;
      margin-right: 16px;
      border: 3px solid rgba(0, 0, 0, 0.12);

      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }

    .subtitle {
      margin: 6px 0 0 0;
    }
  }

  .product-detail-form-container {
    padding: 24px;

    .dataTable td {
      font-size: 14px;
    }

    #product-image-uploader {
      position: relative;

      &.dropping {

        .drop-text {
          display: flex;
        }
      }

      .drop-text {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 16px;
        text-align: center;
        border: 2px dashed rgba(0, 0, 0, 0.12);
        background: #FFFFFF;
        font-size: 20px;
        z-index: 100;
      }

      .upload-button {
        margin-bottom: 16px;
      }

      .image-zoom-area {
        border: 2px solid rgba(0, 0, 0, 0.12);
        width: 500px;
      }

      .product-image {
        position: relative;
        width: 100px;
        min-height: 100px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        margin: 8px;

        &.uploading {

          .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.87);
          }
        }

        .media {
          cursor: pointer;
          max-height: 100%;
        }
      }
    }
  }

}
