<div id="server-details" class="page-layout simple fullwidth" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Back to Servers"
                       ng-click="vm.gotoServers()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        Server
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Create a new Server Instance</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <form name="verticalStepper" ms-vertical-stepper
              ng-submit="vm.createServer()"
              ng-model="vm.verticalStepper" novalidate>
            <ms-vertical-stepper-step ng-form="verticalStep1" step="1" step-title="'Details'">
                <div ng-include="'app/main/servers/server-create/steps/name-server.html'"></div>
            </ms-vertical-stepper-step>
            <ms-vertical-stepper-step ng-form="verticalStep2" step="2" step-title="'Provider'">
                <div ng-include="'app/main/servers/server-create/steps/choose-provider.html'"></div>
            </ms-vertical-stepper-step>

            <ms-vertical-stepper-step ng-form="verticalStep3" step="3" step-title="'Configure'">
                <div ng-include="'app/main/servers/server-create/steps/config-provider.html'"></div>
            </ms-vertical-stepper-step>

            <ms-vertical-stepper-step ng-form="verticalStep4" step="4" step-title="'Region'">
                <div ng-include="'app/main/servers/server-create/steps/select-region.html'"></div>
            </ms-vertical-stepper-step>

            <ms-vertical-stepper-step ng-form="verticalStep5" step="5" step-title="'OS'">
                <div ng-include="'app/main/servers/server-create/steps/select-os.html'"></div>
            </ms-vertical-stepper-step>

            <ms-vertical-stepper-step ng-form="verticalStep6" step="6" step-title="'Deploy'">
                <div ng-include="'app/main/servers/server-create/steps/deploy-server.html'"></div>
            </ms-vertical-stepper-step>
        </form>

    </div>
    <!-- / CONTENT -->

</div>