// Dialog
md-dialog {

  min-width: 80rem;
  min-height: 45rem;

  md-dialog-content {
    padding: 0;
  }

  md-card {

    margin: 1em;
    width: 17rem;

    md-card-content {

    }

    .md-card-image {

      align: center;
      width: 13rem;
      height: 10rem;

      padding-top: 20px;
      padding-right: 4px;
      padding-left: 4px;
      padding-bottom: 20px;
    }

    &.selected {
      background-color: #FBC02D;
      //background-color:#2196F3;

      md-card-actions {

        .md-button {
          background-color: rgba(158, 158, 158, 0.2);
          color: currentColor;
        }
      }
    }

    md-card-actions {
      .md-button {
        color: rgba(0, 0, 0, 0.26);

        &:hover {
          color: currentColor;
        }
      }
    }
  }
}