<md-dialog aria-label="Create Cluster Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Install Package</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg"
                         aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <ms-form-wizard flex>
            <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                <md-tab>
                    <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep1.$invalid">1</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Select Package</span>
                            </span>
                    </md-tab-label>

                    <md-tab-body>
                        <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>

                            <input type="hidden" name="provider" ng-model="vm.form.type" required="true"/>

                            <!-- Provider Cards -->
                            <div layout="row" layout-align="center none" layout-wrap>
                                <span ng-repeat="provider in vm.packages">
                                    <md-card
                                            ng-class="{ 'selected': $index == vm.selectedIndex}"
                                            ng-click="vm.providerClicked($event, $index, provider)">
                                        <md-card-image>
                                            <img ng-src="{{provider.card.image.src}}" alt="{{provider.card.image.alt}}" >
                                        </md-card-image>
                                        <md-card-actions layout="column" layout-align="start">
                                            <md-button>{{$index === vm.selectedIndex ? 'SELECTED' : 'SELECT'}}</md-button>
                                        </md-card-actions>
                                    </md-card>
                                </span>
                            </div>
                        </form>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <div class="navigation" flex layout="row" layout-align="center center">
                <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                           ng-disabled="msWizard.isFirstStep()">
                    Previous
                </md-button>
                <div class="steps">
                        <span ng-repeat="form in msWizard.forms"
                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
                </div>
                <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                           ng-hide="msWizard.isLastStep()"
                           ng-disabled="msWizard.currentStepInvalid()">
                    Next
                </md-button>
                <md-button class="md-raised md-warn" ng-click="vm.saveForm();"
                           ng-show="msWizard.isLastStep()"
                           ng-disabled="msWizard.formsIncomplete()">
                    Save
                </md-button>
            </div>
        </ms-form-wizard>
    </md-dialog-content>
    <!-- / FORM WIZARD -->
</md-dialog>
