<div id="requests" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-server"></md-icon>
                    <span translate="SERVERS.TITLE">Requests</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="servers-search" class="search-input" type="text" placeholder="Search"
                       translate translate-attr-placeholder="SERVERS.SEARCH" flex>
            </div>

            <div>
                <md-button class="md-raised md-background" ng-click="vm.refreshData()">
                    <span>Refresh</span>
                </md-button>
                <md-button class="md-raised md-background" ng-click="vm.createServer()">
                    <span>Create</span>
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover compact" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <!--<div class="table-header">-->
                            <span class="column-title">&nbsp;</span>
                            <!--</div>-->
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Server</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">IP Address</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">OS</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">OS Version</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Cores</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Memory</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Size</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Tags</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Actions</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="server in ::vm.servers">
                        <td>
                            <md-icon md-font-icon="icon-server s16"/>
                        </td>
                        <td class="secondary-text">{{server.name}}</td>
                        <td>{{server.ipAddress}}</td>
                        <td>{{server.os.type}}</td>
                        <td>{{server.os.version}}</td>
                        <td>{{server.instance.cpu_cores}}</td>
                        <td>{{server.instance.memory}}</td>
                        <td>{{server.instance.size}}</td>
                        <td>{{server.tags}}</td>
                        <td>
                            <md-button class="edit-button md-icon-button" ng-click="vm.gotoServerDashboard(server.id)">
                                <md-icon md-font-icon="icon-view-dashboard"></md-icon>
                            </md-button>
                            <md-menu>
                                <md-button class="edit-button md-icon-button"
                                           ng-click="vm.openMenu($mdMenu, $event)"
                                           aria-label="Server Details"
                                           translate translate-attr-aria-label="SERVERS.SERVER_DETAILS">
                                    <md-icon md-menu-origin md-font-icon="icon-dots-horizontal" class="s16"></md-icon>
                                </md-button>
                                <!-- Actions Menu -->
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="vm.gotoServerDetail(server.id)">
                                            <md-icon md-menu-origin md-font-icon="icon-server"></md-icon>
                                            Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-divider></md-divider>
                                    <md-menu-item>
                                        <md-button ng-click="vm.destroyServer(server.id)">
                                            <md-icon md-font-icon="icon-server-remove" md-menu-align-target></md-icon>
                                            Delete
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
