<div id="server-details" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Back to Servers"
                       ng-click="vm.gotoServers()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.server.host}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Server Details</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveServer()"
                       ng-disabled="!vm.isFormValid('serverForm')">
                <span translate="SERVER.SAVE">SAVE</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>SYSTEM</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form id="serverForm" name="serverForm">
                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Name</label>
                                    <input type="text" ng-model="vm.server.host" readonly>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>IPAddress</label>
                                    <input type="text" ng-model="vm.server.ipAddress" readonly>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Hostname</label>
                                    <input type="text" ng-model="vm.server.info.hostname" required readonly>
                                </md-input-container>
                            </div>

                            <!--<h3 class="secondary-text" translate="SERVER.FIELDS.DESCRIPTION">Product Description</h3>-->
                            <!--<text-angular ta-toolbar="vm.taToolbar" ng-model="vm.server.description"-->
                            <!--class="pb-32"></text-angular>-->

                            <h3 class="tags secondary-text">Tags</h3>
                            <md-chips ng-model="vm.server.tags"
                                      placeholder="Enter a tag"
                                      delete-button-label="Remove Tag"
                                      delete-hint="Press delete to remove tag"
                                      secondary-placeholder="+Tag">
                            </md-chips>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>MODEL</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Manufacturer</label>
                                    <input type="text" ng-model="vm.server.info.system.manufacturer" readonly>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Version</label>
                                    <input type="text" ng-model="vm.server.info.system.version" readonly>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Model</label>
                                    <input type="text" ng-model="vm.server.info.system.model" readonly>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>UUID</label>
                                    <input type="text" ng-model="vm.server.info.system.uuid" required readonly>
                                </md-input-container>
                            </div>


                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Operating System</label>
                                    <input type="text" ng-model="vm.server.info.os.name" readonly>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Distribution</label>
                                    <input type="text" ng-model="vm.server.info.os.dist" readonly>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Codename</label>
                                    <input type="text" ng-model="vm.server.info.os.codename" readonly>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Release</label>
                                    <input type="text" ng-model="vm.server.info.os.release" readonly>
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>PROCESSOR</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <h3 class="tags secondary-text">CPU</h3>
                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>Manufacturer</label>
                                    <input ng-model="vm.server.info.cpu.manufacturer" readonly>
                                </md-input-container>
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>Brand</label>
                                    <input ng-model="vm.server.info.cpu.brand" readonly>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>Speed</label>
                                    <input ng-model="vm.server.info.cpu.speed" readonly>
                                </md-input-container>
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>Cores</label>
                                    <input type="number" ng-model="vm.server.info.cpu.cores" readonly>
                                </md-input-container>
                            </div>

                            <h3 class="tags secondary-text">Cache</h3>
                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>L1d</label>
                                    <input type="number" ng-model="vm.server.info.cpuCache.l1d">
                                </md-input-container>
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>L1i</label>
                                    <input type="number" ng-model="vm.server.info.cpuCache.l1i">
                                </md-input-container>
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>L2</label>
                                    <input type="number" ng-model="vm.server.info.cpuCache.l2">
                                </md-input-container>
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>L3</label>
                                    <input type="number" ng-model="vm.server.info.cpuCache.l3">
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>MEMORY</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>Total RAM</label>
                                    <input type="number" ng-model="vm.server.info.memory.total">
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                                    <label>Total SWAP</label>
                                    <input type="number" ng-model="vm.server.info.memory.swaptotal">
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>STORAGE</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <h2 class="secondary-text">Disks</h2>
                            <div ng-repeat="disk in ::vm.server.info.fsSize">
                                <div layout-gt-sm="row" layout-align="sdirt center">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>File System</label>
                                        <input type="text" value="{{disk.fs}}">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Type</label>
                                        <input type="text" value="{{disk.type}}">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Size</label>
                                        <input type="text" value="{{disk.size}}">
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Mount</label>
                                        <input type="text" value="{{disk.mount}}">
                                    </md-input-container>
                                </div>
                            </div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>NETWORK</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <table class="dataTable row-border hover">
                                <thead>
                                <tr>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Interface</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">IPv4</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">IPv6</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">MAC</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Internal</span>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in ::vm.server.info.network.interfaces">
                                    <td>{{item.iface}}</td>
                                    <td>{{item.ip4}}</td>
                                    <td>{{item.ip6}}</td>
                                    <td>{{item.mac}}</td>
                                    <td>{{item.internal}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>


            <md-tab>
                <md-tab-label>
                    <span>VERSIONS</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Kernel</label>
                                    <input type="text" ng-model="vm.server.info.versions.kernel">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>OpenSSL</label>
                                    <input type="text" ng-model="vm.server.info.versions.openssl">
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>NodeJS</label>
                                    <input type="text" ng-model="vm.server.info.versions.node">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>V8</label>
                                    <input type="text" ng-model="vm.server.info.versions.v8">
                                </md-input-container>
                            </div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>