<div id="charts" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-poll"></md-icon>
                    <span translate="CHARTS.TITLE">Charts</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="charts-search" class="search-input" type="text" placeholder="Search"
                       translate translate-attr-placeholder="CHARTS.SEARCH" flex>
            </div>

            <div>
                <md-button class="md-raised md-background" ng-click="vm.gotoAddProduct()">
                    <span translate="CHARTS.ADD_NEW">New Chart</span>
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Title</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Type</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Description</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Actions</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="chart in ::vm.charts">
                        <td>{{chart.type}}</td>
                        <td>{{chart.title}}</td>
                        <td>{{chart.type}}</td>
                        <td>{{chart.description}}</td>
                        <td>
                            <md-button class="edit-button md-icon-button" ng-click="vm.viewChart(chart)" aria-label="View Chart"
                                       translate translate-attr-aria-label="CHARTS.PRODUCT_DETAILS">
                                <md-icon md-font-icon="icon-dots-horizontal" class="s16"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
